<!-- myapp/templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Your Name</title>
</head>
<body>
    <h1>Enter your name</h1>
    <form action="/index/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="OK">
    </form>
</body>
</html>

<!-- Below is the DJango manual code template index -->


<!-- myapp/templates/index.html
<form action="/index/" method="post">
    {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form> -->
